header {
    .t-header {
        background-color: $light_blue;
        width: 100%;
        .content {
            color: white;
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .m-header {
        .navbar-light .navbar-nav .nav-link {
            color: rgb(33, 33, 33);
        }
        .navbar-light .navbar-nav .nav-link:hover {
            color: $light_blue;
        }
        li {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
        }
    }
    .jumbo {
        height: 500px;
        background-image: url(../images/jumbotron.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
