.main-create {
    h3 {
        text-transform: uppercase;
        font-weight: bold;
        color: $light-blue;
    }
    a {
        text-decoration: none;
        color: $light_blue;
    }
    label {
        color: $dark_blue;
        font-weight: bold;
    }
}
